<div class="menuContainer">
            <div class="navbar-links">
                    <a href="#home">Home</a>
                    <i class="fas fa-chevron-right"></i>
                    <a href="#login">Login</a>
            </div>

            <div class="menuFullContent">
                
                <div class="menuContent">
                        <h1>Profilini tamamla, bonus qazan</h1>
                        <p>
                                Pulvinar pellentesque habitant morbi tristique senectus et netus. Sed augue lacus viverra
                                vitae congue eu consequat ac. Diam donec adipiscing tristique risus nec feugiat in
                                fermentum.        
                        </p>
        
                        <form ng-submit="login()">
                            <div class="formLoginInput">
                                <label for="mobileNumber">Mobil nömrə</label><br/>
                                <input type="text" id="mobileNumber" ng-model="loginParam.mobileNumber">
                            </div>
        
                            <div class="formLoginInput">
                                <label for="passwordUser">Password</label><br/>
                                <input type="password" id="passwordUser" ng-model="loginParam.password">
                                <input type="submit" value="Login">
                            </div>
                        </form>
                        <div class="additionalInputs">
                            <a href="#forget">Forgot your password?</a>
                            <a href="#help">Help</a>
                        </div>
                </div>

            </div>

</div>